* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    box-sizing: border-box;
    z-index: 15;
}

.background {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.page {
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#disclaimerAside {
    width: 45%;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 9px;
    padding: 15px;
    color: rgb(228, 35, 35);
    text-align: center;
}

.block {
    width: 45%;
    height: 38vh;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#clarificationsBlock {
    border: 4px rgb(55, 191, 245) solid;
    height: 53vh;
}
#secondBlock {
    height: 74vh;
    width: 56%;
    text-align: center;
    border: 4px rgb(255, 36, 36) solid;
}

.h1 {
    margin: 16px 50px 0;
    font-size: 36px;
    text-align: center;
}
.beforeInputText {
    font-size: 24px;
}
.preTaxSalary {
    color: rgb(228, 35, 35);
    font-size: 62px;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid rgba(228, 35, 35, 0.432);
    padding-bottom: 10px;
}
#preTaxSalaryText {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;   
}
.taxes {
    font-size: 26px;
    margin: auto auto 48px;
}

.headerH {
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 85);
    display: flex;
    justify-content: center;
}

.mainH {
    margin: auto 15px;
    font-size: 28px;
    text-align: center;
}

#taxesText {
    font-size: 30px;
}

.beforeInputText {
    text-align: center;
    margin: auto auto 10px;
}
.input {
    margin: 0 auto 16px;
    border: none;
    background-color: rgba(148, 255, 255, 0.74);
    height: 35px;
    width: 320px;
    border-radius: 9px;
    padding: 9px;
    text-align: center;
}

.button {
    width: 120px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: rgba(148, 255, 255, 0.74);
    margin: 0 auto auto;
}
#buttonA {
    margin: 0;
    position: absolute;
    right: 36px;
    top: 12px;
    background-color: rgba(148, 255, 255, 0.96);
}

.selectBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
}
.selectH {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 12px 12px 7px;
    letter-spacing: -.3pt;
    word-spacing: -2pt;
}
.selectDis {
    text-align: center;
    margin: 0 24px 7px;
}
.select {
    width: 48%;
    margin: auto;
    font-size: 16px;
    padding: 3px;
    border-radius: 8px;
    margin-bottom: 6px;
}

.option {
    font-size: inherit;
}
.afterTaxes {
    font-size: 23px;
}
.taxesSection {
    width: 90%;
    text-align: left;
    margin: auto;
}

@media (max-width : 1800px) {
    .page {
        min-width: 100%;
        min-height: 100vh;
        width: 100vw;
        height: auto;
    }
    #clarificationsBlock {
        height: 62vh;
        width: 62%;
    }
    .block {
        height: 56vh;
    }

    #secondBlock {
        height: 760px;
        margin-bottom: 50px;
    }
    .headerH {
        height: 110px;
    }
    .button {
        height: 48px;
    }
    .input {
        height: 42px;
        font-size: 26px;
    }
    .beforeInputText {
        font-size: 22px;
    }
    .preTaxSalary {
        padding-bottom: 40px;
    }
    .taxes {
        margin-top: 28px;
    }
    #disclaimerAside {
        margin-top: 30px;
    }
}


@media (max-width : 1380px) {
    #clarificationsBlock {
        height: 66vh;
        width: 56%;
    }
    .mainH {
        margin: auto 25px;
    }
    .beforeInputText {
        margin: auto 15px 20px;
    }
    .select {
        width: 65%;
    }
    .h1 {
        margin-left: 15px;
        margin-right: 15px;
    }
    .taxes {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width : 1080px) {
    #clarificationsBlock {
        height: 67vh;
        width: 66%;
    }
    #secondBlock {
        height: 760px;
        position: relative;
        top: 60px;
    }

    .block {
        height: 66vh;
    }
    .headerH {
        height: 160px;
    }
    #disclaimerAside {
        margin-bottom: 20px;
    }
}

@media (max-width : 833px) {
    #clarificationsBlock {
        height: 72vh;
        width: 70%;
    }
    .select {
        width: 90%;
    }
    #disclaimerAside {
        width: 55%;
    }
    .block {
        height: 65vh;
        width: 55%;
    }
    .headerH {
        height: 160px;
    }
    #secondBlock {
        height: 890px;
        margin-bottom: 110px;
    } 
    #buttonA {
        font-size: 16px;
        height: auto;
        width: auto;
        padding: 7px 14px;
    }
}

@media (max-width : 680px) {
    #clarificationsBlock {
        height: 82vh;
        width: 84%;
    }
    #disclaimerAside {
        width: 65%;
    }

    .block {
        height: 70vh;
        width: 65%;
    }
    #secondBlock {
        height: 870px;
        width: 86vw;

    }

}

@media (max-width : 560px) {
    #clarificationsBlock {
        height: 86vh;
        width: 86%;
    }
    .block {
        height: 70vh;
        width: 80%;
    }

    #disclaimerAside {
        width: 80%;
    }
}

@media (max-width : 460px) {
    #clarificationsBlock {
        height: 76vh;
        width: 94%;
    }
    .block {
        height: 75vh;
        width: 90%;
    }
    #disclaimerAside {
        width: 90%;
    }
    .h1 {
        font-size: 28px;
    }
    .input {
        width: 260px;
        font-size: 22   px;
    }
}

@media (max-width : 360px) {
    #clarificationsBlock {
        height: 94vh;
        width: 96%;
    }
    #secondBlock {
        width: 92vw;
    }
    .headerH {
        height: 240px;
    }
    #secondBlock {
        height: 930px;
    }
}

